body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-block: 2em;
    padding-inline: 1em;
}
.form-pane-standard {
    max-width: 500px;
}