.scheduled-submission {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
  
.scheduled-submission-title {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.scheduled-submission-time {
  color: #707070;
}