.edit-tools {
    display: flex;
    align-items: center;
    gap: 0.2em;
    min-width: fit-content;
    transition: cubic-bezier(0.4, 0, 0.2, 1),visibility .15s
}
/* .edit-tools-button {
    font-size: 0.8em;
    color: var(--COLOR-6);
    padding-block: 0;
    padding-inline: 0.4em;
    border-radius: 0;
} */