.edit-tools {
    display: flex;
    align-items: center;
    gap: 0.2em;
    min-width: fit-content;
    transition: cubic-bezier(0.4, 0, 0.2, 1),visibility .15s
}
.edit-tools-button:focus {
    box-shadow: 0 0 0 0 transparent;
}