.sorting-tools {
    padding-right: 0.6em;
    border-right-color: var(--ACOLOR-6);
    border-right-style: solid;
    border-right-width: 1px;
}
.active-sort {
    margin-left: .5em;
}
.dropdown-menu {
    z-index: 1;
    background-color: var(--ACOLOR-2);
}
.dropdown-toggle::after {
    display: none;
}