body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding-block: 30px;
    padding-inline: 15px;
}
.form-pane {
    max-width: 500px;
}
.feedback-alert-card {
    width: 100%;
    text-align: center;
}