body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding-block: 30px;
    padding-inline: 15px;
}
.dynamic-shard {
    max-width: 450px;
    width: 100%;
}
.form-fields.v-flexbox {
    gap: 10px;
}
.form-floating {
    width: 100%;
}